.vscode/**
.vscode-test/**
src/**
webview-ui/**
.gitignore
**/*.ts
!out/**/*.js
**/tsconfig.json
**/*.map
node_modules/**
*.vsix
.github/**
CONTRIBUTING.md
SECURITY.md
**/__pycache__/**
**/*.pyc
.DS_Store
**/.venv/**
**/venv/**
